@model Venta_Vehiculos_2014067.Models.Marca

@{
    ViewBag.Title = "Detalles de la Marca - Admon.";
}

<h2>Detalles de la Marca<small>Panel de Administración</small></h2>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMarca }) |
    @Html.ActionLink("Regresar a Inicio", "Index")
</p>
